.header {
    height: rem(60px);
    padding-left: var(--mantine-spacing-xl);
    padding-right: var(--mantine-spacing-xl);
    border-bottom: rem(1px) solid var(--mantine-color-primary-4);
}

.link {
    color: #333 !important;
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.active {
    color: var(--mantine-color-primary-5) !important;
    font-weight: bold;
    border-bottom: 2px solid var(--mantine-color-primary-5) !important;
}


.subLink {
    width: 100%;
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
    border-radius: var(--mantine-radius-md);

    @mixin hover {
        background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
    }
}

.dropdownFooter {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
    margin: calc(var(--mantine-spacing-md) * -1);
    margin-top: var(--mantine-spacing-sm);
    padding: var(--mantine-spacing-md) calc(var(--mantine-spacing-md) * 2);
    padding-bottom: var(--mantine-spacing-xl);
    border-top: rem(1px) solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
}